@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
a {
  text-decoration-line: none;
  text-align: center;
  color: inherit
}

.upperbox{
    /* Rectangle 2 */
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;

    /* Primary / Voog Blue */
    background: rgba(141, 144, 145, 0.7);

}

.logo{
    /* saa */
  position: absolute;
  width: 50px;
  height: 25px;
  top: 2vh;
  left: 2vw;
  
  
  color: rgba(141, 144, 145, 0.7);
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 700;
  line-height: 4.4vh;
  letter-spacing: 0px;
  text-align: center;
  
  
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search{
  /* Search components */
position: absolute;
width: 350px;
height: 30px;
top: 2vh;
left: 100px;


color: rgb(255, 255, 255);
font-family: Ubuntu;
font-size: 16px;
font-weight: 400;
line-height: 63px;
letter-spacing: 0px;
text-align: left;



display: flex;
flex-direction: row;
align-items: center;
}



.phrase{
  /* Search components */
position: absolute;
width: 350px;
height: 25px;
top: 125px;
left: 100px;


color: rgb(255, 255, 255);
font-family: Ubuntu;
font-size: 25px;
font-weight: 400;
line-height: 63px;
letter-spacing: 0px;
text-align: left;



display: flex;
flex-direction: row;
align-items: center;
}
#adminHome{
  /* Patent Application */
position: absolute;
width: 300px;
height: 24px;
top: 350px;
left: 50px;


color: rgb(50, 126, 195);
font-family: Ubuntu;
font-size: 24px;
font-weight: 400;
line-height: 63px;
letter-spacing: 0px;
text-align: left;



display: flex;
flex-direction: row;
align-items: center;
}
#adminExamination{
  position: absolute;
  width: 300px;
  height: 24px;
  top: 510px;
  left: 50px;
  
  
  color: rgb(0, 0, 0);
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0px;
  text-align: left;
  
  
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  /* Registration */
position: absolute;
width: 478px;
height: 81px;
top: 300px;
left: 400px;


color: rgb(27, 33, 36);
font-family: Ubuntu;
font-size: 64px;
font-weight: 400;
line-height: 63px;
letter-spacing: 0px;
text-align: left;



display: flex;
flex-direction: row;
align-items: center;
}

.status {
  /* Registration */
position: absolute;
width: 478px;
height: 81px;
top: 316px;
left: 760px;


color: rgb(27, 33, 36);
font-family: Ubuntu;
font-size: 16px;
font-weight: 400;
line-height: 63px;
letter-spacing: 0px;
text-align: left;



display: flex;
flex-direction: row;
align-items: center;
}

.title{
/* Title : "title" */
position: absolute;
width: 668.25px;
height: 60.78px;
top: 400px;
left: 400px;


color: rgb(27, 33, 36);
font-family: Ubuntu;
font-size: 22.5px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0px;
text-align: left;



display: flex;
flex-direction: row;
align-items: center;
}

.field{
/* Feild */
position: absolute;
width: 120px;
height: 16.51px;
top: 460px;
left: 400px;


color: rgb(27, 33, 36);
font-family: Ubuntu;
font-size: 12px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0px;
text-align: left;



display: flex;
flex-direction: row;
align-items: center;
}

.applicant{
  /* Feild */
  position: absolute;
  width: 120px;
  height: 16.51px;
  top: 480px;
  left: 400px;
  
  
  color: rgb(27, 33, 36);
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: left;
  
  
  
  display: flex;
  flex-direction: row;
  align-items: center;
  }

.desc{
/* Action / Typing */
position: absolute;
width: 700px;
height: 300px;
top: 500px;
left: 400px;
box-sizing: border-box;


background: rgba(255, 255, 255, 0);
border: 0.75px solid rgba(0, 0, 0, 0.25);
border-radius: 3.75px;
}

.date{
  /* Applicant */
position: absolute;
width: 300px;
height: 8px;
top: 800px;
left: 400px;


color: rgb(27, 33, 36);
font-family: Ubuntu;
font-size: 8px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0px;
text-align: left;



display: flex;
flex-direction: row;
align-items: center;
}

.approveDate{
  /* Applicant */
position: absolute;
width: 300px;
height: 8px;
top: 820px;
left: 400px;


color: rgb(27, 33, 36);
font-family: Ubuntu;
font-size: 8px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0px;
text-align: left;



display: flex;
flex-direction: row;
align-items: center;
}

.image{
  /* Action / Typing */
  position: absolute;
  width: 400px;
  height: 300px;
  top: 500px;
  left: 1120px;
  box-sizing: border-box;
  
  
  background: rgba(255, 255, 255, 0);
  border: 0.75px solid rgba(0, 0, 0, 0.25);
  border-radius: 3.75px;
  }

  .download{
    /* Download */
position: absolute;
width: 80.25px;
height: 30.01px;
top: 800px;
left: 1280px;


color: rgb(27, 33, 36);
font-family: Ubuntu;
font-size: 11.25px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0px;
text-align: center;



display: flex;
flex-direction: row;
align-items: center;
justify-content : center;
box-sizing: border-box;

background: rgba(255, 255, 255, 0);
border: 0.75px solid rgba(0, 0, 0, 0.25);
border-radius: 3.75px;
}


.deny{
  /* Sell */
position: absolute;
width: 80px;
height: 30px;
top: 900px;
left: 600px;


color: rgb(27, 33, 36);
font-family: Ubuntu;
font-size: 20px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0px;
text-align: center;
justify-content : center;

border: 0.75px solid rgba(0, 0, 0, 0.25);
border-radius: 3.75px;
display: flex;
flex-direction: row;
align-items: center;
}

.approve{
  /* Sell */
position: absolute;
width: 80px;
height: 30px;
top: 900px;
left: 900px;


color: rgb(27, 33, 36);
font-family: Ubuntu;
font-size: 20px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0px;
text-align: center;
justify-content : center;

border: 0.75px solid rgba(0, 0, 0, 0.25);
border-radius: 3.75px;
display: flex;
flex-direction: row;
align-items: center;
}

.back{
  /* Back */
position: absolute;
width: 80px;
height: 30px;
top: 900px;
left: 1200px;


color: rgb(27, 33, 36);
font-family: Ubuntu;
font-size: 20px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0px;
text-align: center;
justify-content : center;

border: 0.75px solid rgba(0, 0, 0, 0.25);
border-radius: 3.75px;
display: flex;
flex-direction: row;
align-items: center;
}
