
/* 로그인 */
.loginBar {position: absolute;
width: 300px;
height: 100px;
top: 640px;
left: 810px;


color: rgb(0, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 58px;
letter-spacing: 0px;
text-align: center;
}

.adminloginBar
{/* 관리자 로그인 */
position: absolute;
width: 300px;
height: 100px;
top: 815px;
left: 810px;


color: rgb(0, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 58px;
letter-spacing: 0px;
text-align: center;}