<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patent Application</title>
  <link rel = "stylesheet", href="{{ url_for('static', filename='css/adminExamView.css')}}">
  <div class = upperbox></div>

  <div class = "logo">
    <a href = {{ url_for( 'home' ) }}>saa</a>
  </div>
  <div class = "search">
    <form>
      <input type = "text" id="search" size ="50" placeholder="Search Components">
    </form>
  </div>
  <div class = "phrase">
    <h1>Examination</h1>
  </div>
</head>

<body>

  <aside>
    <div class = "side">
      <ul>
        <div id = "adminHome">
        <a href = {{ url_for( 'adminHome' )}}><h3>AdminHome</h3></a>
        </div>
        <div id = "adminExamination">
          <a href = {{ url_for( 'adminExamination' )}}><h3>Examination</h3></a>
          </div>
      </ul>
      </div>
      </aside>
      
  <div class = "menu"> View Patent</div>
  <div class = "status"> Status : "status"(waiting for exam, approved,denied)</div>
  
  <div class = "title">Title = "title"</div>
  <div class = "field">Field = "field"</div>
  <div class = "applicant">Application : "name"</div>

  <div class = "desc">Descriptions</div>

  <div class = "image">Image</div>
  <div class = "download">Download</div>

  <div class = "date">Patent Application date : year/month/day</div>
  <div class = "approveDate">Approved date: (not approved or year/month/day)</div>

  <div class = "deny">
    <a href = {{ url_for( 'adminExamination' )}}>Deny</a>
  </div>

  <div class = "approve">
    <a href = {{ url_for( 'adminExamination' )}}>Approve</a>
  </div>

  <div class = "back">
    <a href = {{ url_for( 'adminExamination' )}}>Back</a>
  </div>

</body>
</html>