<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patent Application</title>
  <link rel = "stylesheet", href="{{ url_for('static', filename='css/adminHome.css')}}">
  <div class = upperbox></div>

  <div class = "logo"> <a href = {{ url_for( 'home' ) }}>saa</a></div>
  <div class = "search">
    <form>
      <input type = "text" id="search" size ="50" placeholder="Search Components">
    </form>
  </div>

  <div class = "phrase">
    <h1>Admin Page</h1>
  </div>
</head>

<body>
  <aside>
    <div class = "side">
      <ul>
        <div id = "adminHome">
        <a href = {{ url_for( 'adminHome' )}}><h3>AdminHome</h3></a>
        </div>
        <div id = "adminExamination">
          <a href = {{ url_for( 'adminExamination' )}}><h3>Examination</h3></a>
          </div>
      </ul>
      </div>
      </aside>

  <div class = "menu">Ban</div>

  <div class = "ban">
  <form>
    <input type = "text" id="ban" size ="50" placeholder="Wallet ID...">
  </form>
  </div>
  <div class ="reason">
  <form>
    <input type = "text" id="reason" size ="50" placeholder="Reasons for ban...">
  </form>
  </div>

  <div class = "banButton">
    <a href = {{ url_for( 'banPopup' ) }}>go to prison!</a>
  </div>

  <div class = "menu1">Unban</div>
  <div class = "unban">
  <form>
    <input type = "text" id="unban" size ="50" placeholder="Wallet ID...">
  </form>
</div>
  <div class = "unbanButton">
    <a href = {{ url_for( 'unbanPopup' ) }}>Unban</a>
  </div>


    <div class = "menu2">Token Burning</div>
    <div class = "burning">
    <form>
      <input type = "text" id="burning" size ="50" placeholder="Wallet ID...">
    </form>
    </div>
    <div class = "burnButton">
      <a href = {{ url_for( 'burningPopup' ) }}>Burn</a>
    </div>
</body>
</html>