<!DOCTYPE html>
<html lang="en">
<head>
  <title>Auction</title>
  <link rel = "stylesheet", href="{{ url_for('static', filename='css/auction.css')}}">

  <style>
    table, th, td {
      border: 1px solid #bcbcbc;
    }
    table {
      width: 600px;
      height: 200px;
    }
    th {
      width: 300px;
      height: 200px;
    }
  </style>

  <div class = upperbox></div>

  <div class = "logo"> <a href = {{ url_for( 'home' ) }}>saa</a></div>
  <div class = "search">
    <form>
      <input type = "text" id="search" size ="50" placeholder="Search Components">
    </form>
  </div>


  <div class = "phrase">
    <h1>Auction</h1>
  </div>
</head>

<body>
  <aside>
    <div class = "side">
      <ul>
        <div id = "papp">
        <a href = {{ url_for( 'patentApp' )}}><h3>Patent Application</h3></a>
        </div>
        <div id = "regi">Registration</div>
        <div id = "canc">Cancel Application</div>

        <div id = "pman">
        <a href = {{ url_for( 'patentManagement' )}}><h3>Patent Management</h3></a>
        </div>
        <div id = "dash">dashboard</div>
        <div id = "recy">Recycle Bin</div>
        
        <div id = "auct">
        <a href = {{ url_for( 'auction' )}}><h3>Auction</h3></a>
        </div>
        <div id = "buyi">Buying/Searching</div>
        <div id = "sell">selling</div>
    </div>
  </aside>
  
  <div class = "menu"> Search Patents</div>
    <div>
    <form method="POST" action="/api/auction">
      <input type = "text" id="title" size ="50" placeholder="Your patent's title">
      <input type = "text" id="field" size ="50" placeholder="Your patent's field"><br />
      <input type = "Submit" />
    </form>
    </div>

  <div class = "result">Result..</div>

  <table class = "resultTable">
    <tr class = "imageLine1">
        <th><a href = {{url_for('auctionView')}}>Image</a></th>
        <th><a href = {{url_for('auctionView')}}>Image</a></th>
        <th><a href = {{url_for('auctionView')}}>Image</a></th>
        <th><a href = {{url_for('auctionView')}}>Image</a></th>
        <th><a href = {{url_for('auctionView')}}>Image</a></th>
        <th><a href = {{url_for('auctionView')}}>Image</a></th>
    </tr>

    <tr>
      <td>Title</td>
      <td>Title</td>
      <td>Title</td>
      <td>Title</td>
      <td>Title</td>
      <td>Title</td>
    </tr>
  </table>
</body>
</html>