<!DOCTYPE html>
<html lang="en">
<head>
  <title>auction Sell</title>
  <link rel = "stylesheet", href="{{ url_for('static', filename='css/auctionSell.css')}}">
  <div class = upperbox></div>

  <div class = "logo"> <a href = {{ url_for( 'home' ) }}>saa</a></div>
  <div class = "search">
    <form>
      <input type = "text" id="search" size ="50" placeholder="Search Components">
    </form>
  </div>

  <div class = "phrase">
    <h1>Auction</h1>
  </div>
</head>

<body>
  <aside>
    <div class = "side">
      <ul>
        <div id = "papp">
        <a href = {{ url_for( 'patentApp' )}}><h3>Patent Application</h3></a>
        </div>
        <div id = "regi">Registration</div>
        <div id = "canc">Cancel Application</div>

        <div id = "pman">
        <a href = {{ url_for( 'patentManagement' )}}><h3>Patent Management</h3></a>
        </div>
        <div id = "dash">dashboard</div>
        <div id = "recy">Recycle Bin</div>
        
        <div id = "auct">
        <a href = {{ url_for( 'auction' )}}><h3>Auction</h3></a>
        </div>
        <div id = "buyi">Buying/Searching</div>
        <div id = "sell">selling</div>

    </div>
  </aside>

  <div class = "menu"> View Patent</div>
  
  <div class = "title">Title = "title"</div>
  <div class = "field">Token ID = {{token[0]}}</div>
  <div class = "applicant">applicant : "name"</div>

  <div class = "desc">Descriptions..</div>

  <form>
    <input type="hidden" value="1" name="marketID" />
    <input type="hidden" value="{{token[0]}}" name="tokenID" />
    <input type = "text" id="minPrice" size ="50" placeholder="Minimum price.. (Ether)" name="minPrice">
    <input type = "text" id="salePrice" size ="50" placeholder="sale price.. (Ether)" name="salePrice">
  </form>

  

  <div class = "register">
    <a href = {{ url_for( 'auctionSell' )}}>register</a>
  </div>
  <div class = "back">
    <a href = {{ url_for( 'patentManagement' )}}>Back</a>
  </div>
</body>
</html>