<!DOCTYPE html>
<html>
    <title>
      cancel Popup
    </title>
  <head>
    <link rel = "stylesheet", href="{{ url_for ('static', filename='css/banPopup.css') }} "> 
  </head>

  <body class="dimmed">
    <div class="popup">
      <div class="plot1">Are you sure?</div>
      <div class ="yes">
        <a href = {{ url_for( 'adminHome' )}}>
          <input type="button" name="yes" class="button" value="yes">
        </a>
      </div>
      <div class ="no">
        <a href = {{ url_for( 'adminHome' )}}>
          <input type="button" name="no" class="button" value="no">
        </a>
      </div>
  </div>
</body>
</html>