<!DOCTYPE html>
<html>
    <title>
        login page
    </title>
    <head>
        <link rel = "stylesheet", href="{{ url_for('static', filename='css/login.css')}}">
        <style type="text/css"> 
            a { 
                color : rgb(0, 0, 0);
                text-decoration:none 
            } 
        </style> 
        <div class = "logo1"></div>
        <div class = "logo2"></div>
        <div class = "logoWord">
            SAA
        </div>
    </head>
<body>
    <div class = "loginPhrase">
        <h4>
        Hello, we are SAA.<br>
        Your patent can be easily, securely recorded and recalled anywhere.<br>
        A new paradigm that you can't see anywhere else,<br>
        our SAA will make it.<br>
        </h4>
    </div>

    <div class = "loginBar">
        <a href = {{ url_for( 'walletPopup' ) }}></a>
    </div>

    <div class = "metaMask">
        <a href = {{ url_for( 'walletPopup' )}}>
        <img src="../static/img/MetaMask_Fox.svg">
        </a>
    </div>

    <div class = "walletPhrase">
        <a href = {{ url_for( 'walletPopup' )}}>
        connect your wallet
    </a>
    </div>


</body>
</html>