<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patent Application</title>
  <link rel = "stylesheet", href="{{ url_for('static', filename='css/patentApp.css')}}">
  <div class = upperbox></div>

  <div class = "logo"> <a href = {{ url_for( 'home' ) }}>saa</a></div>
  <div class = "search">
    <form>
      <input type = "text" id="search" size ="50" placeholder="Search Components">
    </form>
  </div>


  <div class = "phrase">
    <h1>Patent<br>Application</h1>
  </div>
</head>

<body>
  <aside>
    <div class = "side">
      <ul>
        <div id = "papp">
        <a href = {{ url_for( 'patentApp' )}}><h3>Patent Application</h3></a>
        </div>
        <div id = "regi">Registration</div>
        <div id = "canc">Cancel Application</div>

        <div id = "pman">
        <a href = {{ url_for( 'patentManagement' )}}><h3>Patent Management</h3></a>
        </div>
        <div id = "dash">dashboard</div>
        <div id = "recy">Recycle Bin</div>
        
        <div id = "auct">
        <a href = {{ url_for( 'auction' )}}><h3>Auction</h3></a>
        </div>
        <div id = "buyi">Buying/Searching</div>
        <div id = "sell">selling</div>
    </div>
  </aside>
  
  <div class = "menu"> Registration</div>

  <form action="/api/mint" method="POST">
  <div id = "patentTitle">
      <input type = "text" id="title" size ="50" name="title" placeholder=" Your patent's title">
  </div>
  <div id = "patentField">
      <input type = "text" id="field" size ="50" name="field" placeholder=" Your patent's field">
  </div>
  <div id = "insertFile">&nbsp;  Insert pdf, docs file&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;       
      <input type = "file" >
  </div>
      <input type = "text" id="desc" size ="100" name="desc" placeholder=" Descriptions..">
  <div class = "register">
      <input type="Submit" name="register" class="button" value="register">
  </div>
  <div id = "cancelApp"> Cancel Application</div>
  <div class = "square"></div>

  <div class = "patentlist">
    {%for i in range(0, len)%}
    <div id = "img1"></div>
    <div id = "text1">Image</div>
    <div id = "title1">{{tokens[i][0]}}</div>
    <div id = "cancel1">
      <a href = {{url_for ( 'cancelPopup' ) }}>cancel</a>
    </div>
    {%endfor%}
  </div>
</body>
</html>