<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patent Management</title>
  <link rel = "stylesheet", href="{{ url_for('static', filename='css/patentManagement.css')}}">
  <div class = upperbox></div>

  <div class = "logo"> <a href = {{ url_for( 'home' ) }}>saa</a></div>
  <div class = "search">
    <form>
      <input type = "text" id="search" size ="50" placeholder="Search Components">
    </form>
  </div>


  <div class = "phrase">
    <h1>Patent<br>Management</h1>
  </div>
</head>

<body>
  <aside>
    <div class = "side">
      <ul>
        <div id = "papp">
        <a href = {{ url_for( 'patentApp' )}}><h3>Patent Application</h3></a>
        </div>
        <div id = "regi">Registration</div>
        <div id = "canc">Cancel Application</div>

        <div id = "pman">
        <a href = {{ url_for( 'patentManagement' )}}><h3>Patent Management</h3></a>
        </div>
        <div id = "dash">dashboard</div>
        <div id = "recy">Recycle Bin</div>
        
        <div id = "auct">
        <a href = {{ url_for( 'auction' )}}><h3>Auction</h3></a>
        </div>
        <div id = "buyi">Buying/Searching</div>
        <div id = "sell">selling</div>

    </div>
  </aside>
  
  <div class = "menu"> DashBoard</div>
  <div class = "myPatent1">
    <div id = "myImg1"></div>
    <div id = "text1">Image</div>
    <div id = "myTitle1">Title</div>
    <div id = "sell1">
      <a href = {{ url_for ( 'auctionSell' )}}>sell</a>
    </div>
    <div id = "view1">
      <a href = {{ url_for ( 'patentManView' )}}>view</a>
    </div>
  </div>

  <div class = "myPatent2">
    <div id = "myImg2"></div>
    <div id = "mytitle2"></div>
    <div id = "sell2"></div>
    <div id = "view2"></div>
  </div>


  <div id = "recycle"> Recycle Bin</div>
  <div class = "square"></div>

  <div class = "patentInBin1">
  <div id = "binImg1"></div>
  <div id = "binText1"></div>
  <div id = "recover1"><a href = {{ url_for ( 'patentManagement' )}}>recover</a></div>
  <div id = "time1">7day left</div>
  </div>
</body>
</html>